# keep sensitive data away
*protonpass*
*proton-pass*
*ProtonPass*

Configs/config/discord/**
Configs/config/vesktop/**
Configs/config/Equicord/**
Configs/config/libaccounts-glib/**
Configs/config/geeqie/**

Configs/config/kwalletrc
Configs/config/kscreenlockerrc
Configs/config/baloofilerc
Configs/config/baloofileinformationrc
Configs/config/trashrc
Configs/config/ktrashrc
Configs/config/dconf/**
Configs/config/session/**
Configs/config/pulse/**
Configs/config/systemd/**

Configs/config/git/config
Configs/config/git/credentials

Configs/config/mozilla/**
Configs/config/librewolf/**
Configs/config/Code/**

Configs/local/state/**
Configs/local/share/**

# alot of sensitive info!!
key4.db
cert9.db
logins.db
logins.json
logins-backup.json
signedInUser.json
pkcs11.txt

AlternateServices.bin
SiteSecurityServiceState.bin
security_state/

*.sqlite
*.sqlite-wal
*.sqlite-shm
*.jsonlz4
*.lz4

cache2/
startupCache/
sessionstore-backups/
thumbnails/
safebrowsing/
storage/
extension-store/
extension-store-menus/

addons.json
addonStartup.json.lz4

# pll
bookmarkbackups/
search.json.mozlz4
broadcast-listeners.json

# librewolf spyware
datareporting/
crashes/
minidumps/
saved-telemetry-pings/
shield-preference-experiments.json
settings/
times.json
compatibility.ini

# locks cocks
.parentlock
lock

# misc
activity-stream.shortcut_cache.json
activity-stream.inferred_personalization_feed.json
sessionCheckpoints.json
containers.json
handlers.json
Configs/config/hypremoji/recents.json
ssh.fish
