configuration {
    display-drun: "Search";
    show-icons: true;
}

* {
    rosewater: #f5e0dc;
    flamingo: #f2cdcd;
    pink: #f5c2e7;
    mauve: #cba6f7;
    red: #f38ba8;
    maroon: #eba0ac;
    peach: #fab387;
    yellow: #f9e2af;
    green: #a6e3a1;
    teal: #94e2d5;
    sky: #89dceb;
    sapphire: #74c7ec;
    blue: #89b4fa;
    lavender: #b4befe;
    text: #cdd6f4;
    subtext1: #bac2de;
    subtext0: #a6adc8;
    overlay2: #9399b2;
    overlay1: #7f849c;
    overlay0: #6c7086;
    surface2: #585b70;
    surface1: #45475a;
    surface0: #313244;
    base: #1e1e2e;
    mantle: #181825;
    crust: #11111b;
}

window {
    height: 500;
    width: 900;
    border: 4;
    border-radius: 12;
    border-color: @flamingo;
    border-aa: true;
    background-color: @base;
}

mainbox {
    spacing: 0;
    background-color: @base;
    border-radius: 7;
    children: [inputbar, message, listview];
}

inputbar {
    color: @text;
    padding: 14;
    border-radius: 7 7 0 0;
    background-color: @mantle;
}

message {
    padding: 10;
    background-color: @surface1;
    border: 0 0 2 0;
    border-color: @flamingo;
}

listview {
    padding: 8;
    spacing: 10;
    border-radius: 1 1 0 0;
    border: 0;
    background-color: @mantle;
    dynamic: false;
    scrollbar: false;
}

textbox {
    text-color: @text;
    background-color: inherit;
}

error-message {
    border: 20 20 20 20;
}

entry, prompt, case-indicator {
    text-color: inherit;
}

prompt {
    margin: 0 10 0 0;
}

element {
    padding: 8 10;
    vertical-align: 0.5;
    border-radius: 10;
}

element.normal.normal {
    background-color: @surface0;
    text-color: @text;
}

element.normal.urgent {
    background-color: @red;
    text-color: @crust;
}

element.normal.active {
    background-color: @surface0;
    text-color: @text;
}

element.alternate.normal {
    background-color: @surface0;
    text-color: @text;
}

element.alternate.urgent {
    background-color: @red;
    text-color: @crust;
}

element.alternate.active {
    background-color: @surface0;
    text-color: @text;
}

element.selected.normal {
    background-color: @flamingo;
    text-color: @crust;
}

element.selected.urgent {
    background-color: @maroon;
    text-color: @crust;
}

element.selected.active {
    background-color: @peach;
    text-color: @crust;
}

element-text, element-icon {
    size: 40;
    margin: 0 10 0 0;
    vertical-align: 0.5;
    background-color: inherit;
    text-color: inherit;
}
